*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://images.unsplash.com/photo-1598928506311-c55ded91a20c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
   background-position: center;
   
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: white;
    font-size: 40px;
    cursor: pointer;
    font-style:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}.navbar ul li:after{
    content:'' ;
    width: 0;
    height: 3px;
    background: #646a69;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar ul li:hover::after{
width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform:translateY(-50%) ;
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px  auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width:150px;
    padding: 12px 0;
    text-align: center;
    border-radius: 10px;
    margin: 20px 10px;
    font-weight: bold;
    border:2px solid #ffffff;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background:rgb(29, 25, 25);
    height: 100%;
    width:0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;

}
button:hover span{
width: 100%;
}
button:hover{
    border: none;
}